
@{
    ViewData["Title"] = "ProductManager";
    Layout = "_Admin";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Product Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>
            <h1 style="color=red;">Administrator - Product Manager</h1>
            <a class="primary-btn btn-lg" asp-controller="Admin" asp-action="AddProduct">Add new product</a>
        </center>
        @*<div>
                <table id="test" class="display">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yeezy V2 350</td>
                            <td>Adidas</td>
                            <td>White</td>
                            <td>$1000</td>
                            <td><a href="#" class="btn-primary btn-sm">Manage</a></td>
                            <td><a href="#" class="btn-danger btn-sm">Delete</a></td>
                        </tr>
                        <tr>
                            <td>Yeezy V2 350</td>
                            <td>Adidas</td>
                            <td>Black</td>
                            <td>$900</td>
                            <td><a href="#" class="btn-primary btn-sm">Manage</a></td>
                            <td><a href="#" class="btn-danger btn-sm">Delete</a></td>
                        </tr>
                        <tr>
                            <td>Hunter X</td>
                            <td>Bitis</td>
                            <td>White - Orange</td>
                            <td>$50</td>
                            <td><a href="#" class="btn-primary btn-sm">Manage</a></td>
                            <td><a href="#" class="btn-danger btn-sm">Delete</a></td>
                        </tr>
                        <tr>
                            <td>Chuck Tailor II</td>
                            <td>Converve</td>
                            <td>White - Black</td>
                            <td>$100</td>
                            <td><a href="#" class="btn-primary btn-sm">Manage</a></td>
                            <td><a href="#" class="btn-danger btn-sm">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
        <div>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Color</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Color</th>
                        <th>Price</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
