
@{
    ViewData["Title"] = "ProductManager";
    Layout = "_Admin";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Product Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>
            <h1 style="color=red;">Administrator - Product Manager</h1>
            @if (ViewBag.UpdateSuccessful != null)
            {
                <h3>@ViewBag.UpdateSuccessful</h3>
            }
            @if (ViewBag.UpdateFailed != null)
            {
                <h3>@ViewBag.UpdateFailed</h3>
            }
            <a class="primary-btn btn-lg" asp-controller="Admin" asp-action="AddProduct">Add new product</a>
        </center>
        <div>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>isDeleted</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>isDeleted</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
