
@{
    ViewData["Title"] = "UploadImage";
    Layout = "_Admin";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Product Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>
            <h1 style="color=red;">Administrator - Upload Image</h1>
        </center>
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    <form asp-controller="Admin" asp-action="UploadImage" method="post" enctype="multipart/form-data">
                        <input type="file" name="files" multiple />
                        <input type="hidden" name="txtProductID" value="@ViewBag.ProductID" />
                        <button type="submit" class="primary-btn btn-lg">Upload File</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
