
@{
    ViewData["Title"] = "UserManager";
    Layout = "_Admin";
}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">User Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center><h1 style="color='red';">Administrator - User Manager</h1></center>
        <div>
            <table id="test" class="display">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Fullname</th>
                        <th>Gender</th>
                        <th>Birthdate</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Banned</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>tqvinhhung4399</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>4/3/1999</td>
                        <td>Male</td>
                        <td>447 Le Van Luong, Distric 7, HCM City</td>
                        <td>0974176274</td>
                        <td>false</td>
                        <td><a href="#" class="btn-danger btn-sm">Ban</a></td>
                    </tr>
                    <tr>
                        <td>tester 1</td>
                        <td>ABCDE ABCDE</td>
                        <td>1/1/1999</td>
                        <td>Male</td>
                        <td>447 Le Van Luong, Distric 7, HCM City</td>
                        <td>01214124833</td>
                        <td>false</td>
                        <td><a href="#" class="btn-danger btn-sm">Ban</a></td>
                    </tr>
                    <tr>
                        <td>tester 2</td>
                        <td>BCDE BCDE</td>
                        <td>2/2/1999</td>
                        <td>Male</td>
                        <td>447 Le Van Luong, Distric 7, HCM City</td>
                        <td>01214124833</td>
                        <td>false</td>
                        <td><a href="#" class="btn-danger btn-sm">Ban</a></td>
                    </tr>
                    <tr>
                        <td>tester 3</td>
                        <td>CDE CDE</td>
                        <td>3/3/1999</td>
                        <td>Male</td>
                        <td>447 Le Van Luong, Distric 7, HCM City</td>
                        <td>0794124833</td>
                        <td>false</td>
                        <td><a href="#" class="btn-danger btn-sm">Ban</a></td>
                    </tr>
                    <tr>
                        <td>tester 4</td>
                        <td>DZ DZ</td>
                        <td>4/4/1999</td>
                        <td>Male</td>
                        <td>447 Le Van Luong, Distric 7, HCM City</td>
                        <td>0794124833</td>
                        <td>true</td>
                        <td><a href="#" class="btn-success btn-sm">Unban</a></td>
                    </tr>
                    <tr>
                        <td>tester 5</td>
                        <td>XYZ XYZ</td>
                        <td>5/5/1999</td>
                        <td>Male</td>
                        <td>447 Le Van Luong, Distric 7, HCM City</td>
                        <td>0974176274</td>
                        <td>true</td>
                        <td><a href="#" class="btn-success btn-sm">Unban</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->

