
@{
    ViewData["Title"] = "User Management";
}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">User Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>Administrator - User Manager</center>
        <div>
            <table id="test" class="display">
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                        <th>Column 4</th>
                        <th>Column 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>
                    <tr>
                        <td>HungTQV</td>
                        <td>Tang Quoc Vinh Hung</td>
                        <td>Tran Minh Chien</td>
                        <td>Pham Ngoc Thu</td>
                        <td>HTC</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->

