
@{
    ViewData["Title"] = "ChangePassword";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Already had account?</h4>
                        @*<p>There are advances being made in science and technology everyday, and a good example of this is the</p>*@
                        <a class="primary-btn" asp-controller="Home" asp-action="ChangePassword">Sign in</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register New Account</h3>
                    <form class="row login_form" action="/Home/ProcessChangePassword" id="register_form" method="POST" onsubmit="return validatePassword()">
                        <span class="text-danger">@ViewBag.Error</span>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="txtOldPassword" placeholder="Old Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required pattern="[a-zA-Z0-9]{6,18}" oninvalid="this.setCustomValidity('Password is 6 - 18 characters (digits and letters)')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirmPassword" name="txtConfirmPassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required>
                            <span class="text-danger" id="txtError"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" name="txtNewPassword" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required pattern="[a-zA-Z0-9]{6,18}" oninvalid="this.setCustomValidity('Password is 6 - 18 characters (digits and letters)')" oninput="this.setCustomValidity('')">
                        </div>

                        <div class="col-md-12 form-group">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button primary-btn">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
