
@{
    ViewData["Title"] = "Register";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Already had account?</h4>
                        @*<p>There are advances being made in science and technology everyday, and a good example of this is the</p>*@
                        <a class="primary-btn" asp-controller="Home" asp-action="Login">Sign in</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register New Account</h3>
                    <form class="row login_form" action="ProcessRegister" id="register_form" method="POST" onsubmit="return validatePassword()">
                        <span class="text-danger">@ViewBag.Duplicate</span>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="username" name="txtUsername" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required oninvalid="this.setCustomValidity('Please input an email (ex: sneakerhead@email.com)')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="txtPassword" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required pattern="[a-zA-Z0-9]{6,18}" oninvalid="this.setCustomValidity('Password is 6 - 18 characters (digits and letters)')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirmPassword" name="txtConfirmPassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required>
                            <span class="text-danger" id="txtError"></span>
                        </div>
                        <div class="col-md-12">
                            <label style="float:left">Gender</label>
                            <br />
                            <br />
                        </div>
                        <div class="col-md-5">
                            Male
                        </div>
                        <div class="col-md-1">
                            <input type="radio" id="male" name="txtGender" value="Male" checked>
                        </div>
                        <div class="col-md-5">
                            Female
                        </div>
                        <div class="col-md-1">
                            <input type="radio" id="female" name="txtGender" value="Female">
                        </div>
                        <div class="col-md-12 form-group">
                            <br />
                            <input type="text" class="form-control" id="fullname" name="txtFullname" placeholder="Fullname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fullname'" required pattern=".{1,50}" oninvalid="this.setCustomValidity('Name is under 50 characters')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-12 form-group">
                            <label style="float:left">Date of birth</label>
                            <input type="date" class="form-control date" id="dob" name="txtDob" placeholder="Birthdate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of birth'" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="address" name="txtAddress" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required pattern=".{5,100}" oninvalid="this.setCustomValidity('Address between 5 - 100 characters')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="tel" class="form-control" id="tel" name="txtPhoneNumber" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" required pattern="[0-9]{8,15}" oninvalid="this.setCustomValidity('Phone number is number, 8 - 15 digits')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-12 form-group">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button primary-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
